{% for round_number, matches in past_matches.items() %}
  <div class="w3-card">
    <button class="w3-button w3-block w3-left-align w3-light-grey"
            onclick="toggle_visibility_past_round('round_{{ round_number }}')">
      Runde {{ round_number }}
    </button>
  </div>
  <div id="round_{{ round_number }}" class="w3-hide w3-container w3-padding">
    {% for match in matches %}

      <div class="w3-card w3-padding w3-margin-bottom w3-light-grey w3-center"> 

        <div class="w3-large match-row">
          <span class="match-info">
            <b>{{ match.home_team }}</b> vs <b>{{ match.away_team }}</b>
          </span>
          <span class="w3-small w3-hide-small"> 
            {{ match.play_date.strftime('%d.%m.%Y') }} &nbsp;&nbsp; {{ match.play_date.strftime('%H:%M') }} 
          </span>
          <span class="match-right">
            <span class="w3-tag w3-black w3-margin-left w3-medium">
              {{ match.home_goals }} - {{ match.away_goals }}
            </span>
            {% set result_letter = 
              'H' if match.home_goals > match.away_goals 
              else 'B' if match.home_goals < match.away_goals 
              else 'U' 
            %}        
            <span class="w3-tag w3-margin-left w3-medium
              {% if result_letter == 'H' %} w3-blue
              {% elif result_letter == 'B' %} w3-black
              {% else %} w3-grey {% endif %}">
              {{ result_letter }}
            </span>
          </span>
        </div>

        <div id="player-bets" style="margin-top:10px;">
          {% for bet in bets_by_match.get(match.id, []) %}
            {% set is_exact = bet.goals_home == match.home_goals and bet.goals_away == match.away_goals %}
            {% set is_correct = bet.goals_home > bet.goals_away and match.home_goals > match.away_goals or
                                bet.goals_home < bet.goals_away and match.home_goals < match.away_goals or
                                bet.goals_home == bet.goals_away and match.home_goals == match.away_goals %}
            <span 
              class="w3-tag w3-medium w3-round" 
              style="
                cursor:pointer;
                margin-left:2px;
                margin-right:2px;
                background-color:
                  {% if is_exact %}#009b1a
                  {% elif is_correct %}#70b890
                  {% else %}#afafaf
                  {% endif %};"
              onclick="
                if (this.textContent === '{{ bet.username_short }}') {
                  this.textContent = '{{ bet.goals_home }} - {{ bet.goals_away }}';
                } else {
                  this.textContent = '{{ bet.username_short }}';
                }">
              {{ bet.username_short }}
            </span>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}